html {
	height: 100%;
    margin: 0;
}

body {
    margin: 0;
    background: url(https://upload.wikimedia.org/wikipedia/en/thumb/b/b5/SCDF_refreshed_logo.png/220px-SCDF_refreshed_logo.png);
    /* background-size: cover; */
	background-position: center;
}

h1 {
    color: white;
    margin-left: 10px;
}

#container {
    width: 300px;
    margin: 300px auto;
    background: url(https://images.unsplash.com/photo-1585104804804-a84d2a3fe60b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
	background-position: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

#email {
    margin-right: 22px;
}

#submit {
    margin-left: 10px;
    margin-bottom: 10px;
}